* {
    box-sizing: border-box;
}
body {
    margin: 0 auto;
    background: #95CFD5;
}
header {
    background: #FFF;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
    max-width: 140%;
}

 section {
    display: flex;
    justify-content: space-around;

 }
div {
    margin: 26px 0px 24px 69px;
}
.life {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 2.8px;
    margin: 25px 95px 24px 0px;
}
.aria {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 2.8px;
     margin:  25px 95px 24px 0px;
}
.oft {
   
    color: #000;
    font-size:  14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 2.8px;
    margin: 25px 95px 24px 0px;
}
.faction{
    display: flex;
    justify-content: flex-end;
}
.blue {
    width: 501.535px;
    /* height: 120.091px; *//* transform: rotate(-90deg); */
}