 *  {
    box-sizing: border-box;
 }
 body {
    margin: 0;
 }
 .fixed{
  padding: 20px;
  height: 100px;
  width: 174px;
  color:white;
  background-color: green;
  position: fixed;
  /* top: 800px; */
  /* left: 800px; */
  bottom: 100px;
  right: 100px;
  color: #FFF;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 141.524%;
}





 