* {
    box-sizing: border-box;
}
body{
    margin: 0;
}
header{
    background: #FFF;
    padding: 65px 0 60px 0;
}
.header-container{
    width: 800px;
    margin: 0 auto;
}
.logo,
.social{
    display: inline-block;
    width: 390px;
    padding-right: 17px;
}
.social{
    text-align: right;
}
.main-section{
    background: #FAC960;
    padding: 110px 0;
}
h1 {
    color: #8A6D2F;
text-align: center;
font-family: Roboto;
font-size: 43px;
font-style: normal;
font-weight: 400;
line-height: 54px; 
}


  input {
    display: inline-block;
    border-radius: 2px 0px 0px 2px;
    background: #FFF;
    padding: 10px 36px;
    width: 560px;
    color: #999;
  }
  button{
  display: inline-block;
text-align: center;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: 54px; 
color: #FFF;
border: none;
background: #A8863D;
  }
  .content-space {
    background: #F2F2F2;
    margin: 0 auto;
    padding: 77px 310px 81px 310px;
  }
  h3 {
    color: rgba(0, 0, 0, 0.56);
    text-align: center;
    font-size: 37px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
  }
  p {
    color: rgba(0, 0, 0, 0.40);
    text-align: center;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
  }
  .image{
    padding: 56px 376px 81px 377px;
    margin: o auto;
    display: inline-block;
  }
  .content-phone {
    background: #FFF;
    margin: 0 auto;
    padding: 89px 625px 22px 625px;
  }
  h2 {
    color: rgba(0, 0, 0, 0.56);
text-align: center;
font-size: 37px;
font-style: normal;
font-weight: 400;
line-height: 36px;
  }
  .text-phone {
    color: rgba(0, 0, 0, 0.40);
text-align: center;
font-size: 23px;
font-style: normal;
font-weight: 400;
line-height: 30px; 
padding: 32px 32px;
  }
.phone {
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 22px;
}
  .container{
    background: #FAC960;
    margin: 0 auto;
    padding: 59px 250px 58px 250px; 

  }
  .text-tell {
    color: #8A6D2F;
text-align: center;
font-size: 37px;
font-style: normal;
font-weight: 400;
line-height: 36px; 
  }
  .text-friends {
    color: rgba(0, 0, 0, 0.40);
text-align: center;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 30px; 
  }
  input{
    display: inline-block;
    border-radius: 3px;
    border: 1px solid #758696;
    background: #FFF;
    color: #999;
    width: 61px;
     margin: 33px 713px 107px 713px;
  }
  .valie{
    width: 14px;
    color: #999;
text-align: center;
font-family: Roboto;
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: 22px;

  }
.footer{
    background: #F2F2F2;
   padding:  65px 0 60px 0;
}
.footer-container{
    width: 800px;
  margin: 0 auto;  
}
.logo,
.foto {
 display: inline-block; 
    
}